*{
   font-family: Poppins, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header{
    margin: 47px 0px 209px 42px;
}

.link-header{
    color: #17233D;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin-right: 36px;
}

.button-header{
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;   
    line-height: normal;
    cursor: pointer;
}

.logo-image{
    width: 595.178px;
    height: 500.005px;
    margin-left: 121px;
    display: inline-block;
}

section{
    display: inline-block;
    margin-left: 96.83px;
}

h1{
    color: #161A49;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    width: 582px;
}

p{
    color: #4B505A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; 
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-main{
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    border: none;
    background: transparent;
    cursor: pointer;
}